h1{
    font-size: 50px;
    font-family: 'Besley', serif;
}
.banner2{
    background-image: url("images/dream-bg.png");
}
.color{
    color: orange;
} 
p{
    color: dimgray;
}
.width-50{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.width-50 img{
    width: 100%;
    padding-bottom: 150px  ;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 20px;
    border-radius: 5%;
    color: white;
    font-weight: 700;
}
h2{
    font-size: 40px;
}

.banner{
    background-image: url("images/banner.png");
}